name: Testar Boot Sector i386

on: [push, pull_request]

jobs:
  test-bootloader:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Código
      uses: actions/checkout@v4

    - name: Instalar NASM e QEMU
      run: |
        sudo apt-get update
        sudo apt-get install nasm qemu-system-x86 -y # qemu-system-x86 inclui o i386
    
    - name: Montar Assembly
      run: nasm -f bin boot_v9.asm -o boot_v9.bin
      working-directory: ./boot
      
    - name: Testar a Execução no QEMU
      run: |
        qemu-system-i386 -nographic -serial stdio boot_v9.bin &
        QEMU_PID=$!
        sleep 5
        kill $QEMU_PID || true
        echo "QEMU executado. Verifique os logs para ver a saída do serial/console."
      working-directory: ./boot
